Body
{
	margin:0;
	padding:0;
	background-color:#9fa8da;
	/* bir element ya da divdeki içeriği üstten alttan sağdan soldan ortalamak için alttaki bu üç kod yazılır */
	display:flex;
	align-items:center;
	flex-direction:column;
	font-family:monospace;
}
li
{
	list-style:none;
}
.container 
{
	position:absolute;
	width:700px;
	height:650px;
	background-color:#E0FFFF;
	display:flex;
	align-items:center;
	flex-direction:column;
	margin-top:3em;
		border-radius:0.4em;
}
h1 
{

	
	width:75%;
	border-radius:0.2em;
	height:1.6em;
    color:#CD5C5C;
	text-align:center;
	margin-top:5px;
    
}

input
{
	width:450px;
	height:50px;
	border-radius:0.2em;
	margin-top:1px;
	background-color:darkgray;
	border:none;
	font-size:1em;
}
.temizle
{
position:absolute;
	top:92%;
	width:70%;
	height:5%;
		background-color:brown;
		margin-bottom:0%;
		color:white;
		border-radius:0.2em;
		font-size:1em;

}
.temizle:hover 
{

position:absolute;
	top:92%;
	left:15%;
	width:70%;
	height:5%;
	background-color:brown;
		margin-bottom:0%;
		color:white;
		border-radius:0.2em;
		font-size:1em;	

}
button
{
	height:50px;
	width:50px;
   border-radius:0.2em;
   background-color:transparent;
   border:2px solid #red;

}
button:hover
{
   height:50px;
   width:50px;
   border-radius:0.2em;
   background-color:bisque;
   border:2px solid #red;
}

.Content-div
{
	position:absolute;
	height:450px;
	width:520px;
	background-color:bisque;
	margin-top:140px;
	border-radius:0.2em;
	font-size:20px;
	overflow:scroll;
}
.Content-div ul li 
{
	margin-top:10px;
}
.sil 
{
	height:25px;
	width:42px;
	background-color:red;
	display:inline-block; /*Listedeki satırın yanında yan yana eklenmesi için yazılan kod*/
	color:white;
	margin-right:100px;
	margin-top:3px;
	cursor:pointer;
    text-align:center;
  
    right:30%;
}
.info
{
	position:absolute;
	width:110px;
	height:50px;
	right:10%;
	top:10%;
	text-align:center;
	color:#90EE90;

}
.notification
{
background-color:none;
	text-align:center;
}